body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
.color-orange {
    color: orange;
}
.flixble-section {
    display: flex;
    margin-bottom: 100px;
}
.half-width {
   width: 50%;
   margin-left: 5%;
}
.half-width img {
    width: 80%;
}
.link {
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 600;
    border-radius: 6px;
}
.top-header {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.big-dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 120px;
}
.experince-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px black;
    padding-left: 20px;
    border-radius: 10px;
}
.ecperince-container {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#pro-devloper-section {
    border-left: 10px solid;
    border-image: linear-gradient(blue,skyblue);
    border-image-slice: 1;
}
#baby-devleoper-section {
    border-left: 10px solid;
    border-image: linear-gradient(blue,skyblue);
    border-image-slice: 1;
}
footer {
    text-align: center;
    color: rgb(90, 87, 87);
}
